{% extends 'base.html' %} {% load static%}
<span></span>
{% block linkTags %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock linkTags %} {% block titleContent %}About{% endblock titleContent %}
<span></span>
{% block Content %}
<div id="wrapperTotalAboutPart">
  <div id="aboutPart">
    <div id="wrapperTextOfAbout">
      <h2>درباره ما</h2>
      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
        نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
        خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
        داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
        رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>
    </div>
    <img src="{% static 'Image/aboutBanner.jpg' %}" id="picOfBannerAbout" />
  </div>
</div>
{% endblock Content %}
