{% extends 'base.html' %} {% load static%}
<span></span>
{% block linkTags %}
<link rel="stylesheet" href="{% static 'css/profileHistory.css' %}" />

{% endblock linkTags %}
<span></span>
{% block titleContent %}History{% endblock titleContent%}
<span></span>
{% block Content %}
<div id="wrapperOfGreeting">
  <div id="subWrapper">
    <h3>{{user.username}} خوش آمدید</h3>
    <a href="{% url 'logout' %}">خروج از سامانه</a>
  </div>
</div>
<div id="wrapperOfMainPart">
  <div id="wrapperOfRightSide">
    <ul>
      <a href="/{{user.username}}/">
        <li>سبد خرید</li>
      </a>
      <a href="/{{user.pk}}/Profile/">
        <li>اطلاعات شخصی</li>
      </a>
      <a href="/{{user.username}}/ProfileHistory/" style="border: none">
        <li>سفارشهای انجام شده</li>
      </a>
    </ul>
  </div>
  <div id="wrapperOfLeftSide">
    <table id="wrapperTotalTable">
      <tr>
        <th>شماره فاکتور</th>
        <th>جمع کل خرید</th>
        <th>مشاهده</th>
      </tr>
      <tr>
        <td>1000</td>
        <td>تومان 200.000</td>
        <td><a href="">مشاهده بیشتر</a></td>
      </tr>
    </table>
  </div>
</div>
{% endblock Content %}
